<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cow Escape Game</title>
    <link rel = "stylesheet" href = "css/game.css">
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
</style>
<body>
    <br>
    <div id = "game">
        <div id = "cow"></div>
        <div id = "fence"></div>
    </div>
    <h2 id = "score">0</h2>
    <h2>Escape the Farm!</h2>
    <h3>Press the spacebar to jump over fences.</h3>
    <h4 id = "gamer-name-here"></h4>
</body>
<script>

    const gamerNameHere = document.getElementById("gamer-name-here");
    gamerNameHere.textContent = `${sessionStorage.getItem("new-gamer-name-play")}`;

    const cow = document.getElementById("cow");
    const fence = document.getElementById("fence");
    const score = document.getElementById("score");

    async function postNewHighScore(gamer_name, score){
        // let scoreInfo = {
        //     gamer_name: document.getElementById("gamer-name-here").value,
        //     score: document.getElementById("score").value
        // };

        // gamer_name = "Oriana";
        // score = 10000001;

        let scoreInfo = {
            gamer_name: gamer_name,
            score: score
        };

        console.log(scoreInfo);
        let createScoreJSON = JSON.stringify(scoreInfo);

        let config = {
            method: "POST",
            headers: {'Content-Type': "application/json"},
            body: createScoreJSON
        };

        let httpResponse = await fetch("http://localhost:3000/highscore/new", config);

        console.log(httpResponse.status);
        console.log(httpResponse);
        console.log(scoreInfo);

        if(httpResponse.status === 200){
            let responseBody = await httpResponse.json();
        } else {
            console.log("Error posting score.");
        }
    }

    function jump(){
        cow.classList.add("jump-animation");
        setTimeout(() => {
            cow.classList.remove("jump-animation")
        }, 500);
    }

    document.addEventListener("keypress", () => {
        if(!cow.classList.contains("jump-animation")){
            jump();
        }
    });


    let processorMethod = () => {
        score.innerText++;
        const cowTop = parseInt(window.getComputedStyle(cow).getPropertyValue("top"));
        const fenceLeft = parseInt(window.getComputedStyle(fence).getPropertyValue("left"));
        if(fenceLeft < 0){
            fence.style.display = "none";
        } else {
            fence.style.display = "";
        }
        
        if(fenceLeft < 50 && fenceLeft > 0 && cowTop > 150){
            
            let result = confirm("You got a score of: " + score.innerText + "\n\n Play again?");
            console.log("Checkpoint 1");
            console.log("Document? ", document);
            
            // let result = false;

            let scoreInfo = {
                gamer_name: document.getElementById("gamer-name-here").innerText,
                score: document.getElementById("score").innerText
            };

            console.log("Here I am", scoreInfo);

            if(result == true){
                postNewHighScore(scoreInfo.gamer_name, scoreInfo.score);
                // location.reload();
            } else {
                postNewHighScore(scoreInfo.gamer_name, scoreInfo.score);
                window.location.href = "/";
            }
        }
    };

    setInterval(processorMethod, 50);


</script>
</html>