body {
    /* background-color: #b8d1ee; */
    font-family: 'Jost', sans-serif;
    color: #4e4d4d;
    text-transform: lowercase;
    background-image: url("C:/Users/orian/preonboarding-projects/tabithasworld/tabitha/src/test/java/com/tabitha/resources/webpages/css/images/6728670.webp");
    background-size: cover;
}

img {
    height: 100px;
    width: auto;
}

#emotion-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px
}

#welcome-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-div {
    background-color: #fbdbec9f;
    border-radius: 30px;    
    margin-top: 150px;
    padding-bottom: 30px;
}

h1 {
    color: #8d6cad;
    font-size: 35px;
}

h2 {
    color: #8d6cad;
    font-size: 25px;
}

#response-here {
    text-align: center;
}

button {
    border-radius: 30px;
    outline: none;
    border: none;
    text-align: center;
    font-family: 'Jost', sans-serif;
    text-transform: lowercase;
    height: 30px;
    width: 100px;
    font-size: 18px;
    color: #8d6cad;
    margin-top: 15px;
    background: linear-gradient(hsla(318, 74%, 76%, 0.622), hwb(300 58% 4% / 0.622), hwb(307 73% 6% / 0.622));
}