body {
    /* background-color: #b8d1ee; */
    font-family: 'Jost', sans-serif;
    color: #4e4d4d;
    text-transform: lowercase;
    background-image: url("C:/Users/orian/preonboarding-projects/tabithasworld/tabitha/src/test/java/com/tabitha/resources/webpages/css/images/6728670.webp");
    background-size: cover;
}

img {
    height: 100px;
    width: auto;
}

#emotion-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px
}

#welcome-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#main-div {
    background-color: #fbdbec9f;
    border-radius: 30px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 200px;
}

h1 {
    color: #8d6cad;
    font-size: 35px;
}

h2 {
    color: #8d6cad;
    font-size: 25px;
}