body {
    /* background-color: #b8d1ee; */
    font-family: 'Jost', sans-serif;
    color: #4e4d4d;
    text-transform: lowercase;
    background-image: url("C:/Users/orian/preonboarding-projects/tabithasworld/tabitha/src/test/java/com/tabitha/resources/webpages/css/images/6728670.webp");
    background-size: cover;
}

h1 {
    color: #8d6cad;
    font-size: 35px;
}

h3 {
    color: #8d6cad;
}

label {
    color: #8d6cad;
    font-size: 25px;
}

#terms {
    height: 20px;
    width: auto;
}

#terms-label {
    font-size: 18px;
    padding-top: 20px;
}

#logo {
    height: 75px;
    width: auto;
    float: right;
    padding-right: 20px;
}

#registration-div {
    display: flex;
    flex-direction: column;
    background-color: #fbdbec9f;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

#terms-link {
    color: #c564b1;
}

#login-link {
    color: #c564b1;
}

input {
    outline: none;
    border: none;
    background: linear-gradient(hsla(270, 35%, 60%, 0.622), hwb(300 53% 7% / 0.622), hwb(306 58% 8% / 0.622));
    border-radius: 30px;
    height: 30px;
    width: 250px;
    color: #8d6cad;
    font-family: 'Crafty Girls', cursive;
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

button {
    border-radius: 30px;
    outline: none;
    border: none;
    text-align: center;
    font-family: 'Jost', sans-serif;
    text-transform: lowercase;
    height: 30px;
    width: 100px;
    font-size: 18px;
    color: #8d6cad;
    margin-top: 15px;
    background: linear-gradient(hsla(318, 74%, 76%, 0.622), hwb(300 58% 4% / 0.622), hwb(307 73% 6% / 0.622));
}