body {
    /* background-color: #b8d1ee; */
    font-family: 'Jost', sans-serif;
    color: #4e4d4d;
    text-transform: lowercase;
    background-image: url("C:/Users/orian/preonboarding-projects/tabithasworld/tabitha/src/test/java/com/tabitha/resources/webpages/css/images/6728670.webp");
    background-size: cover;
}

h1 {
    color: #8d6cad;
    font-size: 35px;
}

p {
    font-size: 18px;
}

#terms-div {
    background-color: #fbdbec9f;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
}

#logo {
    height: 75px;
    width: auto;
    float: right;
    padding-right: 20px;
}