html { 
    background: url("../css/images/todo-border.PNG"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgb(253, 228, 232);
}

h1 {
    color: #ac7f7f;
    text-align: center;
    font-size: 43px;
    font-family: 'Crafty Girls', cursive;
    margin-top: 80px;
}

h3 {
    font-size: 20px;
    font-family: 'Crafty Girls', cursive;
}

button {
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center;
    font-family: 'Jost', sans-serif;
    height: 100px;
    width: 300px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background: #d19c9c;
}

#go-home {
    display: block;
    margin: auto;
    border-radius: 30px;
    outline: none;
    border: none;
    text-align: center;
    font-family: 'Jost', sans-serif;
    text-transform: lowercase;
    height: 40px;
    width: 150px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-top: 35px;
    background: #ac7f7f;
}

#categories-here {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#tasks-here {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    outline: none;
    text-align: center;
    font-family: 'Crafty Girls', cursive;
    height: auto;
    width: 400px;
    font-size: 20px;
    background: #ffffff;
    color: #d19c9c;
    border: 2px dotted #d19c9c;
    padding-top: 30px;
    padding-bottom: 20px;
}

#all-here {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#create-task-button {
    height: 30px;
    width: 35px;
    font-size: 18px;
}

#new-category-input {
    border-radius: 5px;
    outline: none;
    border: none;
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Jost', sans-serif;
    height: 100px;
    width: 300px;
    font-size: 25px;
    color: rgb(255, 255, 255);
    background: #d19c9c;
    margin-bottom: 10px;
    margin-top: 10px;
}

#new-task-input {
    border-radius: 5px;
    outline: none;
    border: none;
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Crafty Girls', cursive;
    height: 50px;
    width: 250px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background: #d19c9c;
    margin-bottom: 10px;
    margin-top: 10px;
}

#submit-new-category {
    border-radius: 5px;
    outline: none;
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Crafty Girls', cursive;
    height: 50px;
    width: 100px;
    font-size: 18px;
    background: rgb(255, 255, 255);
    color: #d19c9c;
    margin-bottom: 10px;
    margin-top: 10px;
}

#submit-new-task {
    border-radius: 5px;
    outline: none;
    border: none;
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Jost', sans-serif;
    height: 40px;
    width: 80px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background: #d19c9c;
    margin-bottom: 10px;
    margin-top: 10px;
}

.done-buttons + label.strikethrough{
    text-decoration: line-through;
  }

#mark-task-complete {
    height: 40px;
    width: 100px;
    font-size: 14px;
}

#mark-task-incomplete {
    height: 40px;
    width: 100px;
    font-size: 14px;
}

#done-task-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f9e8e8;
    padding: 10px 40px 10px 40px;
    border-radius: 5px;
}

#done-task-input {
    border-radius: 5px;
    outline: none;
    border: 1px dotted #ac7f7f;
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Crafty Girls', cursive;
    height: 30px;
    width: 80px;
    font-size: 14px;
    background: white;
    color: #d19c9c;
}
