<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Books</title>
    <link rel = "stylesheet" href = "book-list.css">
    <style>
        @import url(https://fonts.googleapis.com/css?family=Lavishly+Yours:regular);
        @import url(https://fonts.googleapis.com/css?family=EB+Garamond:regular);
    </style>
</head>
<body>
    <div id = "entire-page">
            <div id = "book-list-div">
                <div class="container">
                    <h1>List of Books</h1>
                    <div>
                        <div class="row" id="books">
                        </div>
                    </div>
                </div>
            </div>

            <div id = "right-side-div">
                <div id = "edit-book-div">
                    <div id="editBookModal" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title">Edit Book</h1>
                                </div>
                    
                                <div class="modal-body">
                                    <form id="editForm" method="POST">
                                        <div class="form-group">
                                            <label for="ISBN">ISBN</label>
                                            <input class="form-control" name="isbn" id="isbn">
                                        </div>
                    
                                        <div class="form-group">
                                            <label for="Title">Title</label>
                                            <input class="form-control" name="title" id="title">
                                        </div>
                
                                        <div class="form-group">
                                            <label for="Title">Author</label>
                                            <input class="form-control" name="author" id="author">
                                        </div>
                
                                        <div class="form-group">
                                            <label for="Title">Published Date</label>
                                            <input class="form-control" name="publish_date" id="publish_date">
                                        </div>
                
                                        <div class="form-group">
                                            <label for="Title">Publisher</label>
                                            <input class="form-control" name="publisher" id="publisher">
                                        </div>
                
                                        <div class="form-group">
                                            <label for="Title">Page Count</label>
                                            <input class="form-control" name="numOfPages" id="numOfPages">
                                        </div>
                    
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id = "create-new-book-div">
                    <div class="container">
                        <h1>Create New Book</h1>
                    
                        <form action="http://localhost:3002/book" method="POST">
                            <div class="form-group">
                                <label for="ISBN">ISBN</label>
                                <input class="form-control" name="isbn">
                            </div>
                    
                            <div class="form-group">
                                <label for="Title">Title</label>
                                <input class="form-control" name="title">
                            </div>
                    
                            <div class="form-group">
                                <label for="Author">Author</label>
                                <input class="form-control" name="author">
                            </div>
                
                            <div class="form-group">
                                <label for="Published-Date">Published Date</label>
                                <input class="form-control" name="publish_date">
                            </div>
                
                            <div class="form-group">
                                <label for="Publisher">Publisher</label>
                                <input class="form-control" name="publisher">
                            </div>
                
                            <div class="form-group">
                                <label for="Pages">Page Count</label>
                                <input class="form-control" name="numOfPages">
                            </div>
                
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>
<script src="book-list.js"></script>
</html>